.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
    align-items: center;
  }

  
.products-page {
    margin-top: 100px;
  }
  
  .sort-button {
    margin-bottom: 20px;
    padding: 8px 16px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    gap: 20px;
  }
  
  .product-card {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #fafafa;
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  